[submodule "vendor/network-library"]
	path = vendor/network-library
	url = https://github.com/the-this-pointer/network-library
[submodule "vendor/aho-corasick-matching"]
	path = vendor/aho-corasick-matching
	url = https://github.com/the-this-pointer/aho-corasick-matching.git
[submodule "vendor/doctest"]
	path = vendor/doctest
	url = https://github.com/onqtam/doctest.git
[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/gabime/spdlog.git
